__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store
.env
.venv/
venv/
env/
.idea/
.vscode/
.pytest_cache/
htmlcov/
output/
!output/index.html
!output/scientist_graph.gexf
!output/about.html
!output/top.html
!output/top_data.json
!output/header.js
!output/graph.html
!output/scientists_report.txt

.history/